<!-- <div *ngIf="!vparcaptura">
    <app-header [title]="title" [subtitle]="subtitle" [rutaListado]="retornaRuta()"> </app-header>
</div> -->
<div class="alert alert-danger" *ngIf="enlistaerror">
    <ul>
        <li *ngFor="let regerror of listaerrores">
            {{regerror.menerror}}
        </li>
    </ul>
</div>

<div *ngIf="resultados" class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <form [formGroup]="tablaForm" (ngSubmit)="onSubmit()">
            <!-- camposform:{{camposform[0] | json}} -->
            <div class="form-group">
                <kendo-splitter-pane min="50%">
                    <kendo-tabstrip #tabstrip>
                        <kendo-tabstrip-tab [title]="'Generales'" [selected]="true">
                                <ng-template kendoTabContent>
                               
                                        <h1 class="title_main alert-muted "> Ver la Categoria <i class="fa fa-eye icon_main"></i> </h1>
                                     
                                        <h3 *ngIf="cargorefere" class="divterciaria text-center" style="color:rgb(255,0,0);"> {{labelprodref}} </h3>
        
                                        <h4 class="divterciaria">

                                                <div class="row ">

                                                        <div class="col-xs-4">
                                                                <label for="cod_categor" data-toggle="tooltip" class="title_check" title="nombre">Cod.Categoria</label>
                                                                  <i class="fa fa-check-circle check" *ngIf="libmantab.conpropvalCampo('cod_categor','valid',tablaForm)"></i>
                                                                   <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('cod_categor','invalid',tablaForm)"></i>
                                                               <input type="text" class="form-control" formControlName="cod_categor" placeholder="Codigo de la categoria" [UpperCase]="true" id="cod_categor">
                                                       </div>
  
                                                   </div>
                                                          
                                                   <div class="spacer5"></div>
                                    
        
                                            <div class="row ">
        
        
                                                <div class="col-xs-4">
                                                        <label for="nombre" data-toggle="tooltip" class="title_check" title="nombre">Nombre de la Categoria </label>
                                                        <i class="fa fa-check-circle check" *ngIf="libmantab.conpropvalCampo('nombre','valid',tablaForm)"></i>
                                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('nombre','invalid',tablaForm)"></i>
                                                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la categoria" [UpperCase]="true" id="nombre">
                                                </div>
        
                                                         
                                                <div class="col-xs-4">
                                                        <label for="icono" data-toggle="tooltip" class="title_check"  title="nombre">Icono de la Categoria </label>
                                                        <i class="fa fa-check-circle check" *ngIf="libmantab.conpropvalCampo('icono','valid',tablaForm)"></i>
                                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('icono','invalid',tablaForm)"></i>
                                                        <input type="text" class="form-control" formControlName="icono" placeholder="icono de la categoria" [UpperCase]="false" id="icono">
                                                </div>
        
                                            </div>
        
                                            <div class="spacer5"></div>
        
                                            <div class="row">
        
                                                <div class="col-xs-8">
                                                    <label for="descripcion" class="form-check-label title_cod" data-toggle="tooltip" class="title_check" title="Descripción">Descripción de la Categoria </label>
                                                    <i class="fa fa-check-circle check" *ngIf="libmantab.conpropvalCampo('descripcion','valid',tablaForm)"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('descripcion','invalid',tablaForm)"></i>
                                                    <textarea class="form-control" formControlName="descripcion" placeholder="Escriba la descripción de la categoria" [UpperCase]="true" id="descripcion" textarea rows="3" cols="50" name="descripcion" form="usrform"></textarea>
        
                                                </div>
                                            </div>
        
                                            <div class="spacer5"></div>
                                                    <h4 class="title_check">Imagenes de la Categoria
                                                    <i class="fa fa-camera" style="color:#42A948;" ></i></h4>
                                        
                                                    <div class="rowimg">
                                                        
                                                        <div class="column" >
                                                           <!-- <h5 class="title_sec"> Imagen grande</h5>-->
                                                                  <img  [src]="imagrandeUrl" 
                                                                  style="width:85%" 
                                                                  class="center" 
                                                                  class="image">
                                                            
                               
                                                                
        
                                                        </div>
        
                                                        <div class="column">
                                                            <!--<h5 class="title_sec">Imagen pequeña</h5>-->
                                                        
                                                            <img  [src]="imapequenaUrl" 
                                                            style="width:85%"  
                                                            class="center" 
                                                            class="image">
                                                    
                                            
        
                                                        </div>
        
                                                        <div class="column">
                                                            <!--<h5 class="title_sec"> Imagen adicional</h5>-->
                                                            <img  [src]="imadicionalUrl" 
                                                            style="width:85%" 
                                                            class="center" 
                                                            class="image">
                                                            
                                                   
                                                        </div>
        
                                                    </div>

                                                    <div class="spacer6"></div>
        
                                        </h4>
        
        
        
        
                                    </ng-template>
                        </kendo-tabstrip-tab>

                    </kendo-tabstrip>
                </kendo-splitter-pane>
            </div>


            <!-- <button type="submit" class="btn btn-primary" [disabled]="!tablaForm.valid">Adicionar Registro</button>
                                <div *ngIf="!vparcaptura">
                                    <a class="btn btn-danger" [routerLink]="[retornaRuta()]">Cancelar</a>
                                </div>
                                <p class="alert alert-warning" *ngIf="!tablaForm.valid">
                                    Por favor complete todos los campos
                                </p>-->
        </form>
        <hr>
    </div>
</div>
<!-- {{tablaForm.value | json}} -->